:host {
    flex-grow: 1;
}

.group {
    display: flex;
    flex-direction: row;
    width:435px;
    border: 3px solid #b9acac;
    margin :6px;
    margin-bottom: 0px;
   justify-content: space-around;
}

.group-clicked {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    width:auto;
    height:auto;
    border: 3px solid red;
    background: white;
    
    justify-content: space-around;
}

.item-image {
       display: flex;
    width: 80px;
    margin: 14px;
    border:10px solid white;
}

.item-header {
    display: flex;
    flex-direction: column;
    font-size: 34px;
    color: #555;
    justify-content: space-around;
    align-content: space-around;
    align-items:center


}

.item-description {
       display: flex;
 font-size: 20px;
     flex-grow: 1;
}

.buy-button {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      margin: 14px;
}



.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 500px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 20px;
    padding: 8px 0;
    z-index: 1;
    position:absolute;
    bottom: 0px;
    left:100px;
    margin-left: -80px;
}

/* Popup arrow */
/*.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}*/

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}


/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
/*************************************************************/

#circle{
    width:20px;
    height:20px;
    border-radius: 50%;
    background-color: red;
    position:absolute;

}

/*************************************************************/
/*
.epi-index {
    display: flex;
    font-size: 44px;
    width: 180px;
    color: white;
    background-color: green;
    align-items: center;
    justify-content: center;
}

.epi-index-small {
    font-size: 44px;
    color: white;
    background-color: green;
    text-align: center;
}*/

/*
.country-image-small {
    width: 100%;
}*/
/*
.index {
    display: flex;
    width: 80px;
    background-color: #555;
    color: white;
    font-size: 32px;
    align-items: center;
    justify-content: center;
}

.index-small {
    width: 50px;
    text-align: center;
    background-color: #555;
    color: white;
    font-size: 32px;
}*/

/* Styles the thumbnail */
