
:host {


 margin: 50px 100px 100px 100px;
display:inline-grid;
grid-template-columns: 24em  24em 24em 24em; /*22em repeat(3,3em 22em)*/
/*border: solid 4px red;*/
/*grid-template-rows:15em 15em 15em 15em;*/
    

}

.projected-title {
    background-color: #555;
    color: white;
}

