:host {
    display: flex;
    text-align: right;
    font-size: 2rem;
    color : #888;
    }

div {
    display: inline;
    margin-left: 34px;
}

a {
    margin: auto;
    text-decoration: none;
}

.top-image {
    width: 20px;
    height: 20px;
    margin-left: 8px;
    margin-bottom: 4px;
    vertical-align: middle;
}

.flag-image {
    width: 22px;
    height: 16px;
    vertical-align: middle;
    /*margin-right: -16px;*/
}

span.glyphicon {
    margin-left: 4px;
    font-size: 11px;
}

.sign-out {
    margin-left: 12px;
    cursor: pointer;
}

