:host{
display: flex;
flex-direction: row;
}

.all{
  padding-top:20px;
  align-content: space-around;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.canvas{
    margin-left: 10px;
    margin-right: 10px;
}

#popup
{
    /*width:230px;
    height:20px;
    border-radius: 50%;
    background-color: red;
    right:400px;*/
    position:absolute;
    z-index: 1;

}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;     z-index: 1;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 300px;
    background-color: white;

    color: Black;
    text-align: center;

    padding: 8px 0;
    z-index: 1;
    position:absolute;
    bottom: 0px;
    left:100px;
    margin-left: -80px;
}
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    border-radius:15px;
    border: 3px solid #20B2AA;
    height:400px;
    width:400px;
}

.item-image {
    border-radius: 5px;
    height:100px;
    width:100px;

}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}














/*
.current{
    width:20px;
    height:20px;
    border-radius: 50%;
    background-color: red;
   position:absolute;
}
.next{
    width:20px;
    height:20px;
    border-radius: 50%;
    background-color: yellow;
    background-position-x:100;
    right:400px;
}


#circle
{
    width:20px;
    height:20px;
    border-radius: 50%;
    background-color: red;
    position:absolute;
    right:400px;
      z-index: 1;
}*/