<div class="dashboard">
  <div class="text-center">
    <div class="headline">
      <h1>Your room layout</h1>
      <h2>Draw the Outlines of your room (in Meter).</h2>
    </div>
  </div>

  <div class="flex-container" fxLayout="row" fxLayoutAlign="center">
    <div class="button-container"></div>
    <room-canvas>
    </room-canvas>

    <div fxFlex="350px" class="button-container">
      <a class="start-btn command" (click)="submitLayout()" [ngClass]="{enabled: canSubmit()}">Submit Layout</a>
      <a class="command" (click)="clearBoard()">Clear Board</a>
    </div>
  </div>
  <!--style={{ width: '500px', margin: 'auto' }} </div>-->