

:host {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 1;
}
a{
    text-decoration: none;
    color: black;
  	font-family: 'Open Sans', sans-serif;
    margin: auto;
}


.router-link-active{
    background-color:transparent;
    border:none;
    text-decoration: none;
    color:  rgba(63,181,183,.8);

}

 a:hover {
    text-decoration: none;
    color:  rgba(63,181,183,.8);
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0;
    padding-left: 0;
}

li {
    display: flex;
    margin-left: 50px;
}

button {
    margin-top: 20px;
}
button.horizontal {
    margin-left: 20px;
    margin-bottom: 2px;
}

nav {
    text-align: left;
    margin: auto 0;
}