

:host {
    display: inline-flex; 
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 1;
}
a{
       text-decoration: none;
          color: black;
  	font-family: 'Open Sans', sans-serif;
}


.router-link-active{
    background-color:transparent;
    border:none;
    text-decoration: none;
    color:  rgba(63,181,183,.8);
 
}



 a:hover {
  /* text-shadow: 1px 1px 2px #337ab7;/*, 0 0 0.1em #337ab7;/*, 0 0 0.2em #337ab7;*/
  /*background-color: rgba(50,50,50,0.1);*/
      text-decoration: none;

color:  rgba(63,181,183,.8);
   
}


  /*  font-family: 'Open Sans', sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        -webkit-font-smoothing: antialiased;

    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;*/
    


/*
:host(.vertical-menu) {
    display: inline-block;
    max-width: 200px;
    min-width: 200px;
    padding-left: 4px;
    flex-grow: 0;
    background-color: #555;
    overflow: auto;
}*/
nav {
    display: flex; 
    flex-direction: column;
    justify-content: flex-end;


}
ul {
    display: flex; 
    flex-direction: row;
    justify-content: flex-end;
 

    

}

li {

    display: flex; 
    flex-direction: column;
        justify-content: flex-end;
        margin-left: 50px;
}

button {
    margin-top: 20px;
}
button.horizontal {
    margin-left: 20px;
    margin-bottom: 2px;
}