
.title-bar {
    background-color: white;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
    display: flex;
    min-height: 80px;
    position: fixed;
    width: 100%;
    z-index:100;
}


.menu-area {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-right: 50px;
}


.small-image-holder {
    flex-grow: 1;
    margin: 20px 40px 20px 80px;
}

.small-image {
    height: 50px;
}