
.title-bar {
    background-color: white;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
    display: flex;
    min-height: 20px;
    position: fixed;
    width: 100%;
    z-index:100;
}


.menu-area {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    padding-right: 50px;
}


.small-image-holder {
    margin: 15px 30px 15px 60px;
}

.small-image {
    height: 30px;
}