<section class="hp-page site-page">
  <div class="banner">
    <div class="image-holder"></div>
    <div class="floating-text">
      <div class="header-title">
        <div class="header-title1">DESIGN YOUR NEW</div>
        <div class="header-title2">HOME</div>
      </div>
      <div class="start-btn" >
        <a class="start-btn content" [routerLink]="['/rooms']" [@focusPanel]='state' on-mouseover='toggleFocus()' on-mouseleave='toggleFocus()'>START NOW</a>
      </div>
    </div>
  </div>
</section>





<!--
<div class="image-holder">
  <div class="title">
    <span>Welcome to Sweet Home!</span>
  </div>



  <div class="floating-text">
    <div class="header-title header_1">DESIGN YOUR NEW</div>
    <div class="header-title header_2">HOME</div>
    <a class="green-btn bottom">START NOW</a>
  </div>

</div>

<fw-panel>

</fw-panel>

-->